.product-list-title {
  margin: 20px;
}

.product-list-filter-container {
  display: flex;
  justify-content: space-between;
}

.product-list-filter {
  margin: 20px;
}

.product-list-filter-text {
  font-size: 20px;
  font-weight: 600;
  margin-right: 20px;
}

.product-list-select {
  padding: 10px;
  margin-right: 20px;
}

@media only screen and (max-width: 768px) {
  .product-list-filter-container {
    flex-direction: column;
  }

  .product-list-filter {
    margin: 15px 20px;
  }
}

@media only screen and (max-width: 480px) {
  .product-list-title {
    margin: 15px;
    font-size: 24px;
  }

  .product-list-filter {
    margin: 10px 15px;
    display: flex;
    flex-direction: column;
  }

  .product-list-filter-text {
    margin-right: 0px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .product-list-select {
    margin: 5px 0px;
    width: 100%;
  }
}

