.newsletter-container {
  height: 60vh;
  background-color: #fcf5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.newsletter-title {
  font-size: 70px;
  margin-bottom: 20px;
}

.newsletter-desc {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: center;
}

.newsletter-input-container {
  width: 50%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
}

.newsletter-input {
  border: none;
  flex: 8;
  padding-left: 20px;
}

.newsletter-button {
  flex: 1;
  border: none;
  background-color: teal;
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .newsletter-container {
    height: 50vh;
    padding: 30px 20px;
  }

  .newsletter-title {
    font-size: 50px;
  }

  .newsletter-desc {
    font-size: 20px;
  }

  .newsletter-input-container {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  .newsletter-container {
    height: 40vh;
    padding: 20px 15px;
  }

  .newsletter-title {
    font-size: 32px;
    margin-bottom: 15px;
  }

  .newsletter-desc {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .newsletter-input-container {
    width: 90%;
    height: 35px;
  }

  .newsletter-input {
    padding-left: 10px;
    font-size: 14px;
  }
}

